.img-projects-card{
    width: 95%;
    animation: imgComing 8s 0.1s;
    max-height:130px ;
    border-radius: 15px;
    border: 1px solid #f0f8ff;
    min-height: 130px;
    
}

.site-url ,.git-hub{
    color: aliceblue;
    font-size: 2rem;
}


@keyframes imgComing {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}