.video {
    height: 100vh;
    max-width: 100%;
    margin-top: 100px;
}
.hidden {
    display: none;
}
.header-container {
    background-color: black;
}
/* .header-nav{
    background: rgba(0, 0, 0, 0);
} */

.dark-mode {
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    background: url("./etoileNoir.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 20;
    /* border: 1px solid rgb(233, 247, 41); */
}
.light-mode {
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    background: url("./coruscant.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 20;
    /* border: 1px solid rgb(233, 247, 41); */
}

/* .dark-mode::after{
   content:" rejoindre l'empire";
   color: aliceblue;
   position: absolute;
} */

.header-title {
    width: 1000px;

    font-size: 6rem;
}

.img-profil-container {
    justify-content: center;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50% !important;
    /* padding: 10px; */
    position: absolute;
    /* position: absolute;
    left: 43%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: .9; */

    box-shadow: 1px 1px 10px #f1ff11;
}

.foto.vador {
    margin-top: -20px;
    width: 180px;
    height: 180px;
}

.header-para {
    font-weight: 700;
    text-transform: uppercase;
    
}

.father {
    color:#020202;
    text-shadow: 1px 1px 5px #f1ff11;
    font-size: 1.5rem;
}

.title-foto-para {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.father {
    transform: translateY(160px);
    padding: 15px;
}
@media only screen and (max-width: 1000px) {
    .foto {
        width: 100px;
        height: 100px;
        margin-top: 650px;
        border-radius: 50%;
    }
    .title-foto-para {
        position: absolute;
        top: 350px;
    }
    .header-title {
        font-size: 8rem !important;
        width: auto;
        padding-bottom: 120px;
    }
}
@media only screen and (max-width: 800px) {
    .title-foto-para {
        position: absolute;
        top: 250px;
    }
    .foto {
        width: 50px;
        height: 50px;
        margin-top: 350px;
        border-radius: 50%;
    }
    .header-title {
        font-size: 3rem !important;
        width: auto;
        padding-bottom: 120px;
    }
    .header-para {
        font-size: 0.6rem !important;
        padding-bottom: 1px;
    }


.dark-mode {
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    /* border: 1px solid rgb(233, 247, 41); */
}
.video {
    margin-top: 100px;
}
.light-mode {
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    /* border: 1px solid rgb(233, 247, 41); */
}

.foto.vador {
    width: 50px;
    height: 50px;
}
}
/* .dark-mode {
        top: 10%;
        left: 40%;
        transform: translate(-50% -50%);
    }

    .light-mode {
    } */
