.video {
    height: 100vh;
}
.hidden {
    display: none;
}
.header-container {
    background-color: black;
}
/* .header-nav{
    background: rgba(0, 0, 0, 0);
} */
.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: aliceblue;
}

.dark-mode {
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    background: url("./etoileNoir.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 20;
    /* border: 1px solid rgb(233, 247, 41); */
}
.light-mode {
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 50%;
    background: url("./coruscant.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 20;
    /* border: 1px solid rgb(233, 247, 41); */
}

/* .dark-mode::after{
   content:" rejoindre l'empire";
   color: aliceblue;
   position: absolute;
} */

.list-item .link-item {
    list-style-type: none;
    padding: 5px;
    color: aliceblue;
    text-decoration: none;
}

.header-title {
    width: 1000px;
    text-shadow: -5px -70px 9px #f1ff11;
    font-size: 6rem;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

.img-profil-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    display: flex;
    flex-direction: row-reverse;
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    /* position: absolute;
    left: 43%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: .9;
    border: 1px solid yellow; */
}

.header-para {
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    margin-top: 40px;
}




