.header-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.616);
    z-index: 1500;
    margin-bottom: .1px;
}
.nav-list {
    list-style-type: none;
    /* background: rgb(0, 0, 0); */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.list-item .link-item {
    margin-right: 10px;
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.list-item {
    margin: 10px;
    padding-top: 35px;
}

.nav-list a::after {
    content: "";
    display: block;
    /* margin: 0 auto; */
    width: 0%;
    height: 2px;
    background: rgba(156, 204, 247, 0.76);
    box-shadow: -2px -2px 5px rgb(255, 255, 250), 1px 1px 5px rgb(255, 255, 250), 1px 1px 10px rgb(156, 204, 247);
    transition: width 0.2s ease-in-out;
}



.nav-list a:hover::after {
    width: 100%;
}


.btn-toggle {
    position: absolute;
    right: 50px;
    top: 1px;
    padding: 5px;
    cursor: pointer;
    display: none;
    z-index: 500;
}
.img-laser {
    height: 40px;
    transform: rotate(90deg);
    background: black;
}

@media screen and (max-width: 800px) {
    .btn-toggle {
        display: block;
        z-index: 10001;
    }
    .header-nav{
        background: black;
    }
    .list-item {
        height: 10px;
        width: 100%;
        
        text-align: center;
    }
    .list-item .link-item {
        color:rgb(139, 139, 37)
    }

    .link-item:hover{
        color: aliceblue;
        text-shadow:1px 1px 5px  black;
    }
    
    .nav-list a::after {
        display: none;
    }
    .nav-list {
        flex-direction: column;
        background: rgb(245,245,179);
    background: radial-gradient(circle, rgba(245,245,179,1) 0%, rgba(255,255,244,1) 49%, rgba(1,1,1,1) 100%);
        position: absolute;
        align-items: center;
        justify-content: center;
        height:100vh;
        width: 100%;
        
    }
    
}
