.button-back-div{
    position: absolute;
    top: 15px;
    left: 100px;
    display: inline;
    z-index: 1500;
}

.button-back-div  img {
    height: 30px;
    border-radius: 50%;
    
}

@media screen and (max-width:500px){
    .button-back-div{
        
        left: 25px;
       top: 13px;
   }
}
