.projects-container {
    width: 100%;
    height: 100%;
    background: rgb(246, 60, 60);
    background: linear-gradient(63deg, rgba(246, 60, 60, 1) 0%, rgba(35, 35, 37, 0.973) 50%, rgba(42, 98, 205, 1) 100%);
    position: absolute;
}
.black-page {
    position: absolute;
    width: 100%;
    height: auto;

    z-index: 1000;
    animation: blackPage 3s .5s forwards;
}
.new-page {
    position: absolute;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   
    z-index: 1002;
    background: rgb(0, 0, 0);
}

.before-page{
    max-height: 100%;
}



@keyframes blackPage {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgb(0, 0, 0);
    }
}
.card-plate {
    width: 70vw;
    height:100%;
    background: rgba(0, 0, 0, 0.425);
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 400px;
    width: 400px;
    background: linear-gradient(
        45deg,
        rgba(42, 98, 205, 1) 0%,
        rgba(35, 35, 37, 0.8018557764902836) 50%,
        rgba(246, 60, 60, 1) 100%
    );
    transform-origin: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: turquoise;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    height: 300px;
    width: 200px;
    box-shadow: 2px 2px 1px rgb(156, 156, 156), 3px 3px 1px black, 4px 4px 1px rgb(156, 156, 156), 5px 5px 1px black,
        6px 6px 1px rgb(156, 156, 156), 7px 7px 1px black, 8px 8px 1px rgb(156, 156, 156), 9px 9px 1px black,
        10px 10px 1px rgb(156, 156, 156);
    border-radius: 15px;
    cursor: pointer;
}

.card-on {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    border-radius: 15px;
    height: 300px;
    width: 200px;
    box-shadow: 1px 1px 1px rgb(156, 156, 156);
    animation: turnPages 1.5s 2s ease-in-out forwards;
}
.card-on2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    border-radius: 15px;
    height: 300px;
    width: 200px;
    box-shadow: 1px 1px 1px rgb(156, 156, 156);
    animation: turnPages2 1.5s .5s ease-in-out forwards;
}

.vador-project {
    width: 70%;
    margin-top: 25%;
}


@keyframes cardProjectsComing {
    from {
        background: rgba(0, 0, 0, 0.014);
        color: black;
        opacity: 0;

    }
    to {
        background: rgb(0, 0, 0);
        color: aliceblue;
        opacity: 1;
}
}
@keyframes turnPages {
    from {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    to {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
    }
}
@keyframes turnPages2 {
    from {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    to {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width:1000px) {
    
    .card{
        height: 200px;
        width:124px;
    }
    .card-on{
        height: 200px;
        width:124px;
    }
    .card-on2{
        height: 200px;
        width:124px;
    }
    .square{
        height:250px;
        width: 250px;
    }
    .card-plate{
        height: 50%;
        width: 100%;
    }


@keyframes turnPages {
    from {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    to {
        position: absolute;
        top: 50%;
        left: 84%;
        transform: translate(-50%, -50%);
    }
}

    @keyframes turnPages2 {
        from {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        to {
            position: absolute;
            top: 50%;
            left: 16%;
            transform: translate(-50%, -50%);
        }
    }
}
